---
import Nav from "../components/Nav.astro";
import Signature from "../components/Signature.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matthew Gardner">
	<main class="">
		<Nav />
		<section
			class="w-full grid grid-cols-1 md:grid-cols-2 bg-red-500 flex md:flex-row flex-col justify-between"
			id="hero"
		>
			<div class="flex mt-16 mb-8 text-center flex-col">
				<Signature />
				<h1
					class="mr-auto ml-auto align-center justify-center text-center fade text-2xl md:text-4xl lg:text-5xl text-white md:p-0"
				>
					<span class="leading-relaxed border-b-2 border-yellow-500"
						>Web Developer and Computer Science Student</span
					>
				</h1>
				<div class="hidden md:block mt-16">
					<a href="/Matthew Gardner Resume.pdf" download="">
						<button class="fade btn btn-yellow">Looking for a Resume?</button>
					</a>
				</div>
			</div>
			<div class="fade flex m-16 mt-0 justify-center">
				<img class="portrait" src="/portrait1.jpg" />
			</div>
		</section>
	</main>
</Layout>

<style>
	.btn {
		@apply font-bold py-2 px-4 rounded;
	}
	.btn-yellow {
		@apply bg-yellow-500 text-white;
		transition: 0.25s ease-in-out;
	}
	.btn-yellow:hover {
		@apply bg-yellow-700;
	}
	#hero {
		background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://i.redd.it/hmehy8kd93ia1.png");
		background-size: 150% 150%;
		background-position: 100% 100%;
		background-repeat: no-repeat;
	}
	@media (min-width: 768px) {
		.portrait {
			margin: 1em;
			border-radius: 1%;
			box-shadow: 0 0 12px 6px #fff; /* inner white */
		}
	}
	@media (max-width: 768px) {
		.portrait {
			margin: 1em;
			border-radius: 1%;
			box-shadow: 0 0 12px 6px #fff; /* inner white */
		}
	}

	@keyframes fade {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	.fade {
		opacity: 0;
		animation: fade 0.5s forwards;
		animation-delay: 4s;
	}
</style>
