---
---

<div class="ml-auto mr-auto svg-container">
	<svg class="svg-content" preserveAspectRatio="xMinYMin meet" viewBox="0 0 100 170" height="100%" fill="none">
		<path
			id="matthew"
			d="M 4.3334 57.6667 C 2.4895 57.6667 4.0581 56.0528 4.6296 55 C 8.9387 47.0624 13.0553 38.9191 17.4445 31 C 19.1998 27.8331 21.5224 22.3333 26 22.3333 C 37.3527 22.3333 27.7839 59.7609 26.7037 64.037 C 24.3853 73.2148 19 100.8365 19 91.3704 C 19 87.0911 19.6658 82.6979 20.3334 78.4815 C 22.2137 66.6057 29.2627 56.9149 32 45.3704 C 34.5856 34.466 39.6213 25.0454 47.5556 17.1111 C 50.3446 14.3221 53.3436 9.813 55 15.5185 C 57.4321 23.8957 56.2402 32.6855 55 41.1481 C 53.311 52.6735 53.0378 64.7101 52.3334 76.3333 C 52.2287 78.0602 51.091 87.7172 51.5185 85.0741 C 54.1444 68.8415 58.3184 53.6339 64.2222 38.2593 C 67.3016 30.24 69.6683 20.8257 77.9259 16.7778 C 79.5141 15.9993 82.697 13.9596 84.1852 15.963 C 89.1313 22.6212 85.3419 34.0475 83.6667 41.0741 C 81.1835 51.4898 78.5459 61.8936 76.7037 72.4444 C 76.2346 75.1314 76.147 78.2113 75.3334 80.8148 C 74.9758 81.9591 75.5423 78.9923 75.8519 78.4815 C 79.5815 72.3276 83.899 62.828 91.6667 61.8148 C 93.1038 61.6274 106.999 58.8025 101.37 59 C 90.2112 59.3915 84.3698 74.1886 82.8148 83.5185 C 82.48 85.5275 82.5292 88.738 84.6667 89.8889 C 86.3413 90.7906 89.015 85.5738 89.7408 84.6667 C 92.3109 81.454 96.1042 79.4344 98.5556 76.2222 C 101.371 72.5335 101.726 66.9335 102.185 62.4815 C 102.239 61.9591 103.261 56.5339 102.852 59.2963 C 102.146 64.0642 101.191 68.8247 99.8148 73.4445 C 98.7328 77.077 97.1529 80.5545 98.6297 84.3333 C 99.3349 86.138 102.16 90.6927 104.407 88.037 C 119.652 70.0204 123.87 47.6083 131.37 25.8148 C 135.764 13.0493 130.272 33.8388 129.37 36.7778 C 125.393 49.7399 121.741 63.5424 121.741 77.2222 C 121.741 83.8817 126.081 81.5638 129.407 78.6667 C 132.459 76.0085 136.366 74.5004 138.519 70.8889 C 141.323 66.1853 142.692 60.0626 144.852 55 C 148.694 45.9921 154.838 36.1422 157 26.6296 C 157.068 26.3299 157.715 21.8707 157.667 24.1111 C 157.545 29.7035 155.998 34.8324 153.852 39.963 C 151.969 44.4642 137.567 71.1772 143.815 76.037 C 147.171 78.6476 156.738 69.2621 158.593 67.4074 C 162.637 63.3626 167.342 59.5912 171 55.2222 C 175.889 49.3821 177.911 39.5957 178.482 32.037 C 178.66 29.6763 180.461 19.263 175.519 22.4815 C 168.732 26.901 165.054 39.3839 163.667 46.7037 C 161.783 56.6454 159.667 65.7487 159.667 75.9259 C 159.667 76.3355 159.593 78.9244 159.741 78.4444 C 161.426 72.968 162.351 67.0072 165 61.8889 C 165.993 59.9708 170.798 53.6448 173.667 54.4815 C 174.867 54.8317 174.779 60.6297 174.852 61.5185 C 175.159 65.2751 172.713 75.3193 178.037 76.3333 C 183.36 77.3473 194.265 77.8568 197.926 73.1111 C 202.211 67.5567 202.516 55.4665 201.148 48.7778 C 201.019 48.1479 195.714 59.1233 194.852 61.5926 C 192.923 67.117 188.39 76.8445 196.407 78.6667 C 211.269 82.0443 210.796 57.3338 214.852 49.2222 C 218.428 42.0694 212 64.9743 211.148 72.9259 C 210.756 76.5892 211.668 77.9259 215.37 77.6296 C 221.222 77.1615 221.606 69.1193 223 64.7037 C 224.08 61.2837 225.034 57.7499 226.333 54.4074 C 227.072 52.5079 226.892 47.1885 228.333 48.6296 C 232.34 52.636 215.079 74.3655 221.778 77.2963 C 232.746 82.0947 235.112 63.0895 236.185 57.2963 C 237.05 52.626 236.769 54.8565 237.815 57.5185 C 239.202 61.0491 248.507 62.5802 251.667 61.8889 C 257.655 60.5789 263.73 52.8162 265.852 47.6296 C 270.284 36.7944 266.643 29.3332 254.556 32.6296 C 229.179 39.5505 205.034 51.1065 179.148 56.037 C 164.921 58.747 150.468 60.5448 135.963 60.1852 C 127.649 59.9791 113.258 59.9174 108.185 51.7778 C 101.22 40.6012 102.864 26.5328 116.074 21.2963 C 136.06 13.374 163.579 17.0735 182.63 25.4444 C 192.054 29.5854 201.477 34.4278 210.556 39.2963 C 220.973 44.8827 229.767 52.2942 240.963 56.5556 C 269.444 67.3953 297.584 62.3565 326.333 54.3333"
			stroke="white"
			stroke-width="5"
			stroke-linecap="round"></path>
		<path
			id="gardner"
			d="M 3 160.6743 C 3 164.9463 22.439 147.6846 24.4815 144.8965 C 30.8776 136.1652 42.2461 110.9908 30.3333 102.6743 C 22.9981 97.5534 22.0367 107.1127 24.4815 112.5261 C 29.9084 124.5428 43.6825 114.0267 50.2593 110.0076 C 53.4719 108.0443 54.8316 105.4135 55.6296 101.8224 C 56.6351 97.2978 55.0605 111.0774 54.963 115.7113 C 54.8018 123.3668 55.2451 154.9451 41 152.5261 C 35.8601 151.6533 30.7167 140.3578 25.8148 140.9705 C 24.6957 141.1104 32.3765 147.2139 32.8518 147.4891 C 36.7398 149.74 40.0709 154.3598 45.0741 153.8595 C 51.7782 153.189 53.6071 148.5121 56.1111 143.3039 C 60.5792 134.0102 67.0847 133.3409 76.7407 133.3409 C 78.3128 133.3409 88.9768 133.2701 82.2963 131.7113 C 74.4769 129.8867 65.0509 143.6362 62.5555 149.415 C 60.033 155.2566 66.7741 165.1734 72.8518 159.5631 C 76.7815 155.9358 81.003 148.0328 81.5185 142.7483 C 81.7221 140.6611 82.3333 128.8899 82.3333 130.9705 C 82.3333 137.7302 80.3327 147.9326 84.4074 153.8594 C 87.6432 158.566 92.4576 153.8261 94.963 151.0076 C 100.039 145.2965 99.7656 138.5386 100.667 131.2298 C 101.09 127.7981 100.546 120.7976 102.074 127.0817 C 102.828 130.1829 106.53 136.8137 109.815 132.2298 C 113.368 127.2723 113.766 120.4318 113 131.6372 C 112.786 134.7707 109.466 148.1618 114.333 142.5261 C 118.25 137.9912 124.586 138.0673 129.222 134.8224 C 134.319 131.2549 116.958 142.3528 116.593 148.5631 C 116.231 154.7125 127.863 149.1217 129.556 147.2298 C 134.72 141.458 135.904 130.2983 136.333 122.8965 C 136.73 116.054 136.222 109.5052 134.333 102.8965 C 132.778 97.4534 131.82 114.0146 131.704 119.6743 C 131.513 128.9409 130.407 138.2797 130.407 147.5261 C 130.407 152.2365 131.455 149.0997 132.037 146.452 C 132.603 143.8796 135.366 128.6903 139.963 129.5261 C 141.894 129.8771 144.046 143.9933 144.852 146.0817 C 146.657 150.7629 147.294 141.9656 147.667 140.452 C 148.66 136.4221 149.124 131.9824 151 128.2298 C 151.385 127.4593 153.074 125.049 152.852 127.415 C 152.557 130.5591 150.241 141.6427 153 144.0076 C 156.525 147.0289 167.298 141.2353 169.63 137.9705 C 172.406 134.0834 175.602 125.6058 174.556 120.8224 C 173.156 114.4268 169.061 124.8502 168.704 126.378 C 168.005 129.3636 164.568 144.5427 168.407 145.8224 C 173.574 147.5444 179.667 139.0775 181.37 135.6372 C 184.111 130.1034 184.375 123.7596 185.519 117.7854 C 185.531 117.722 184.526 127.0301 184.852 130.0817 C 184.978 131.2678 186.665 139.8428 188.333 135.7113 C 190.405 130.5806 194.035 126.7849 195.333 121.3039 C 196.311 117.1739 197.402 113.3134 196.667 120.0817 C 196.243 123.9821 194.892 130.5658 197.963 133.6372 C 202.913 138.5871 214.661 128.3813 217.667 124.8224 C 223.707 117.6694 219.81 107.1205 211.148 104.8224 C 201.645 102.3012 190.414 107.1952 181.889 110.9706 C 174.503 114.2415 167.89 119.0055 160.296 121.8224 C 150.556 125.4359 140.352 126.4844 130.037 126.6372 C 122.017 126.756 89.6192 126.8743 103.407 110.0446 C 111.178 100.5597 123.875 94.7519 133.963 102.8224 C 148.9 114.7722 163.808 126.1515 183.407 128.1187 C 233.352 133.1317 284.499 124.9388 331.667 108.6743"
			stroke="white"
			stroke-width="5"
			stroke-linecap="round"></path>
	</svg>
</div>

<style>
	.svg-container {
		width: calc(40vw);
		height: calc(20vw);
		overflow: auto;
	}
	.svg-content {
		width: 95%;
		height: 95%;
	}
	@media (max-width: 768px) {
		.svg-container {
			width: calc(70vw);
			height: calc(40vw);
			overflow: auto;
		}
	}

	#matthew {
		stroke-dasharray: 1756.25341796875;
		stroke-dashoffset: 1756.25341796875;
		animation: draw 2s ease-in-out;
		animation-fill-mode: forwards;
	}
	#gardner {
		stroke-dasharray: 1288.5736083984375;
		stroke-dashoffset: 1288.5736083984375;
		animation: draw 2s ease-in-out;
		animation-fill-mode: forwards;
		animation-delay: 1.75s;
	}
	@keyframes draw {
		to {
			stroke-dashoffset: 0;
		}
	}
</style>
