---
---

<div>
	<svg width={493.5 * 1.5} height={129 * 1.5} viewBox="0 0 329 86" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path
			id="matthew"
			d="M4.33335 47.6667C2.48946 47.6667 4.05814 46.0528 4.62965 45C8.93869 37.0624 13.0553 28.9191 17.4445 21C19.1998 17.8331 21.5224 12.3333 26 12.3333C37.3527 12.3333 27.7839 49.7609 26.7037 54.037C24.3853 63.2148 19 90.8365 19 81.3704C19 77.0911 19.6658 72.6979 20.3334 68.4815C22.2137 56.6057 29.2627 46.9149 32 35.3704C34.5856 24.466 39.6213 15.0454 47.5556 7.11112C50.3446 4.32208 53.3436 -0.186977 55 5.51853C57.4321 13.8957 56.2402 22.6855 55 31.1481C53.311 42.6735 53.0378 54.7101 52.3334 66.3333C52.2287 68.0602 51.091 77.7172 51.5185 75.0741C54.1444 58.8415 58.3184 43.6339 64.2222 28.2593C67.3016 20.24 69.6683 10.8257 77.9259 6.77779C79.5141 5.99928 82.697 3.95964 84.1852 5.96298C89.1313 12.6212 85.3419 24.0475 83.6667 31.0741C81.1835 41.4898 78.5459 51.8936 76.7037 62.4444C76.2346 65.1314 76.147 68.2113 75.3334 70.8148C74.9758 71.9591 75.5423 68.9923 75.8519 68.4815C79.5815 62.3276 83.899 52.828 91.6667 51.8148C93.1038 51.6274 106.999 48.8025 101.37 49C90.2112 49.3915 84.3698 64.1886 82.8148 73.5185C82.48 75.5275 82.5292 78.738 84.6667 79.8889C86.3413 80.7906 89.015 75.5738 89.7408 74.6667C92.3109 71.454 96.1042 69.4344 98.5556 66.2222C101.371 62.5335 101.726 56.9335 102.185 52.4815C102.239 51.9591 103.261 46.5339 102.852 49.2963C102.146 54.0642 101.191 58.8247 99.8148 63.4445C98.7328 67.077 97.1529 70.5545 98.6297 74.3333C99.3349 76.138 102.16 80.6927 104.407 78.037C119.652 60.0204 123.87 37.6083 131.37 15.8148C135.764 3.0493 130.272 23.8388 129.37 26.7778C125.393 39.7399 121.741 53.5424 121.741 67.2222C121.741 73.8817 126.081 71.5638 129.407 68.6667C132.459 66.0085 136.366 64.5004 138.519 60.8889C141.323 56.1853 142.692 50.0626 144.852 45C148.694 35.9921 154.838 26.1422 157 16.6296C157.068 16.3299 157.715 11.8707 157.667 14.1111C157.545 19.7035 155.998 24.8324 153.852 29.963C151.969 34.4642 137.567 61.1772 143.815 66.037C147.171 68.6476 156.738 59.2621 158.593 57.4074C162.637 53.3626 167.342 49.5912 171 45.2222C175.889 39.3821 177.911 29.5957 178.482 22.037C178.66 19.6763 180.461 9.26296 175.519 12.4815C168.732 16.901 165.054 29.3839 163.667 36.7037C161.783 46.6454 159.667 55.7487 159.667 65.9259C159.667 66.3355 159.593 68.9244 159.741 68.4444C161.426 62.968 162.351 57.0072 165 51.8889C165.993 49.9708 170.798 43.6448 173.667 44.4815C174.867 44.8317 174.779 50.6297 174.852 51.5185C175.159 55.2751 172.713 65.3193 178.037 66.3333C183.36 67.3473 194.265 67.8568 197.926 63.1111C202.211 57.5567 202.516 45.4665 201.148 38.7778C201.019 38.1479 195.714 49.1233 194.852 51.5926C192.923 57.117 188.39 66.8445 196.407 68.6667C211.269 72.0443 210.796 47.3338 214.852 39.2222C218.428 32.0694 212 54.9743 211.148 62.9259C210.756 66.5892 211.668 67.9259 215.37 67.6296C221.222 67.1615 221.606 59.1193 223 54.7037C224.08 51.2837 225.034 47.7499 226.333 44.4074C227.072 42.5079 226.892 37.1885 228.333 38.6296C232.34 42.636 215.079 64.3655 221.778 67.2963C232.746 72.0947 235.112 53.0895 236.185 47.2963C237.05 42.626 236.769 44.8565 237.815 47.5185C239.202 51.0491 248.507 52.5802 251.667 51.8889C257.655 50.5789 263.73 42.8162 265.852 37.6296C270.284 26.7944 266.643 19.3332 254.556 22.6296C229.179 29.5505 205.034 41.1065 179.148 46.037C164.921 48.747 150.468 50.5448 135.963 50.1852C127.649 49.9791 113.258 49.9174 108.185 41.7778C101.22 30.6012 102.864 16.5328 116.074 11.2963C136.06 3.37396 163.579 7.07351 182.63 15.4444C192.054 19.5854 201.477 24.4278 210.556 29.2963C220.973 34.8827 229.767 42.2942 240.963 46.5556C269.444 57.3953 297.584 52.3565 326.333 44.3333"
			stroke="white"
			stroke-width="5"
			stroke-linecap="round"></path>
	</svg>
	<svg width={502.5 * 1.35} height={102 * 1.25} viewBox="0 0 335 68" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path
			id="gardner"
			d="M3 64.6743C3 68.9463 22.439 51.6846 24.4815 48.8965C30.8776 40.1652 42.2461 14.9908 30.3333 6.67426C22.9981 1.55342 22.0367 11.1127 24.4815 16.5261C29.9084 28.5428 43.6825 18.0267 50.2593 14.0076C53.4719 12.0443 54.8316 9.41346 55.6296 5.82241C56.6351 1.29781 55.0605 15.0774 54.963 19.7113C54.8018 27.3668 55.2451 58.9451 41 56.5261C35.8601 55.6533 30.7167 44.3578 25.8148 44.9705C24.6957 45.1104 32.3765 51.2139 32.8518 51.4891C36.7398 53.74 40.0709 58.3598 45.0741 57.8595C51.7782 57.189 53.6071 52.5121 56.1111 47.3039C60.5792 38.0102 67.0847 37.3409 76.7407 37.3409C78.3128 37.3409 88.9768 37.2701 82.2963 35.7113C74.4769 33.8867 65.0509 47.6362 62.5555 53.415C60.033 59.2566 66.7741 69.1734 72.8518 63.5631C76.7815 59.9358 81.003 52.0328 81.5185 46.7483C81.7221 44.6611 82.3333 32.8899 82.3333 34.9705C82.3333 41.7302 80.3327 51.9326 84.4074 57.8594C87.6432 62.566 92.4576 57.8261 94.963 55.0076C100.039 49.2965 99.7656 42.5386 100.667 35.2298C101.09 31.7981 100.546 24.7976 102.074 31.0817C102.828 34.1829 106.53 40.8137 109.815 36.2298C113.368 31.2723 113.766 24.4318 113 35.6372C112.786 38.7707 109.466 52.1618 114.333 46.5261C118.25 41.9912 124.586 42.0673 129.222 38.8224C134.319 35.2549 116.958 46.3528 116.593 52.5631C116.231 58.7125 127.863 53.1217 129.556 51.2298C134.72 45.458 135.904 34.2983 136.333 26.8965C136.73 20.054 136.222 13.5052 134.333 6.89648C132.778 1.45342 131.82 18.0146 131.704 23.6743C131.513 32.9409 130.407 42.2797 130.407 51.5261C130.407 56.2365 131.455 53.0997 132.037 50.452C132.603 47.8796 135.366 32.6903 139.963 33.5261C141.894 33.8771 144.046 47.9933 144.852 50.0817C146.657 54.7629 147.294 45.9656 147.667 44.452C148.66 40.4221 149.124 35.9824 151 32.2298C151.385 31.4593 153.074 29.049 152.852 31.415C152.557 34.5591 150.241 45.6427 153 48.0076C156.525 51.0289 167.298 45.2353 169.63 41.9705C172.406 38.0834 175.602 29.6058 174.556 24.8224C173.156 18.4268 169.061 28.8502 168.704 30.378C168.005 33.3636 164.568 48.5427 168.407 49.8224C173.574 51.5444 179.667 43.0775 181.37 39.6372C184.111 34.1034 184.375 27.7596 185.519 21.7854C185.531 21.722 184.526 31.0301 184.852 34.0817C184.978 35.2678 186.665 43.8428 188.333 39.7113C190.405 34.5806 194.035 30.7849 195.333 25.3039C196.311 21.1739 197.402 17.3134 196.667 24.0817C196.243 27.9821 194.892 34.5658 197.963 37.6372C202.913 42.5871 214.661 32.3813 217.667 28.8224C223.707 21.6694 219.81 11.1205 211.148 8.82241C201.645 6.30124 190.414 11.1952 181.889 14.9706C174.503 18.2415 167.89 23.0055 160.296 25.8224C150.556 29.4359 140.352 30.4844 130.037 30.6372C122.017 30.756 89.6192 30.8743 103.407 14.0446C111.178 4.55968 123.875 -1.24812 133.963 6.8224C148.9 18.7722 163.808 30.1515 183.407 32.1187C233.352 37.1317 284.499 28.9388 331.667 12.6743"
			stroke="white"
			stroke-width="5"
			stroke-linecap="round"></path>
	</svg>
</div>

<style>
	@media (max-width: 768px) {
		svg {
			width: calc(100vw - 50px);
			height: calc(50vw - 50px);
			padding: 25px;
		}
	}
	#matthew {
		stroke-dasharray: 1756.25341796875;
		stroke-dashoffset: 1756.25341796875;
		animation: draw 2s ease-in-out;
		animation-fill-mode: forwards;
	}
	#gardner {
		stroke-dasharray: 1288.5736083984375;
		stroke-dashoffset: 1288.5736083984375;
		animation: draw 2s ease-in-out;
		animation-fill-mode: forwards;
		animation-delay: 1.75s;
	}
	@keyframes draw {
		to {
			stroke-dashoffset: 0;
		}
	}
</style>
